div.time{
  position: absolute;
  width: 90%;
  height: 50%;
  text-align: center;
  background: seagreen;
}

div.hoursbox{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30%;
    height: 100%;
    background: blue;
}

div.minutesbox{
    position: absolute;
    top: 0%;
    left: 33%;
    width: 30%;
    height: 100%;
    background: gold;
}

div.secondsbox{
    position: absolute;
    top: 0%;
    left: 66%;
    width: 30%;
    height: 100%;
    background: salmon;
}


.control{
    position: absolute;
    top: 50%;
    width: 90%;
    height: 40%;
    text-align: center;
    background: pink;
    -webkit-app-region: drag;
}

input.start{
    position: absolute;
    left: 0%;
    width: 33%;
    height: 50%;
}

input.stopAndReset{
    position: absolute;
    left: 33%;    
    width: 33%;
    height: 50%;
}

input.save{
    position: absolute;
    left: 66%;    
    width:33%;
    height: 50%;
}

img{
    width: 40%;
    height: 90%;
}

input{
  -webkit-app-region: no-drag;
}

body{
    -webkit-user-select: none;
}