div.top{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10%;
    height: 10%;
    background: rgba(171, 27, 193, 0.30);
    -webkit-app-region: drag;
}

div.svgbox{
    position: absolute;
    left: 0px;
    top: 0%;
    width: 90%;
    height: 90%;
}

body{
    -webkit-user-select: none;
}
